#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.block {
  background: #f0f0f0;
  padding: 30px;
  text-align: left;
  margin-block: 40px;
  max-width: 600px;
  border-radius: 4px;
}

.block h3 {
  margin: 0 0 20px;
  font-size: 24px;
}

.block a {
  color: #213547;
  text-decoration: underline;
}

.block a:hover {
  text-decoration: none;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.list li {
  margin: 0 0 0 20px;
}

.btn-container {
  margin: 0 0 20px;
}

code {
  background: #f0f0f0;
  padding: 3px 6px;
  border-radius: 4px;
}
